[defaults]
# Esto le dice a Ansible que mire tanto en tu usuario como en el venv
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

host_key_checking = False
interpreter_python = auto_silent

[inventory]
enable_plugins = yaml, ini, community.proxmox.proxmox